<div class="card-body collapse in">
    <div class="card-body collapse in">
        <div class="card-block  py-0 px-0">
            {% for foundation_row in cms_foundations|batch(2) %}
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    {% for foundation in foundation_row %}
                    <figure class="card card-img-top border-grey border-lighten-2">
                        <a href="{{ url_for('cms.fund_page', fund_id=foundation.id) }}"><img class="gallery-thumbnail card-img-top" src="{{ url_for('gamification.fund_logo', fund_id=foundation.id) }}" itemprop="thumbnail" alt="{{ foundation.name }}"></a>
                        {% if user.is_authenticated %}
                            {% if foundation.donatable %}
                                <a href="{{ url_for('cms.fund_page', fund_id=foundation.id) }}#fundDonateModal" class="btn btn-danger btn-sm"><i class="icon-basket-loaded"></i> Віддати котиків</a>
                            {% endif %}
                        {% endif %}
                    </figure>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="card-deck-wrapper mb-2">
                <div class="card-deck">
                    <figure class="card card-img-top border-grey border-lighten-2">
                        <a href="#"><img class="gallery-thumbnail card-img-top" src="https://dummyimage.com/600x200/ccc/ffffff.png&text=Важливе+повідомлення" itemprop="thumbnail" alt="Image description"></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
