{% macro _task_card(task, icon) %}
    <table class="table mb-0 borderless">
        <tbody>
        <tr>
            <td>
                <i class="{{ icon }} icon-bg-circle"></i>
                {% if task.has_tasks %}
                    <h6 class="media-heading teal">
                        <a href="{{ url_for("task_home", type_name=task.type) }}" title="{{ task.description }}">{{ task.name }}</a>
                    </h6>
                {% else %}
                    <h6 class="media-heading grey-blue lighten-4">
                        {{ task.name }}
                    </h6>
                {% endif %}
            </td>
            <td class="text-xs-center font-small-2">
                {% if task.points_per_task %}
                    {{ task.points_per_task }} {{ task.points_per_task|int|uk_plural("бал,бала,балів") }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <p class="notification-text font-small-3 text-muted">{{ task.description }}</p>
            </td>
            <td class="text-xs-center font-small-2">
                {% if task.coins_per_task %}
                    {{ task.coins_per_task }} {{ task.coins_per_task|int|uk_plural("гривня,гривні,гривен") }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% set task_closed = task.tasks - task.open_tasks %}
                <span class="text-xs-center font-small-2">Виконано {{ task_closed }} {{ task_closed|uk_plural("завдання,завдання,завдань") }} <progress class="progress progress-sm progress-teal mt-0 mb-0" value="{{ task_closed }}" max="{{ task.tasks }}"></progress></span>
            </td>
            <td class="text-xs-center font-small-2">
                <span class="decl svg-image logo" title="Канцелярська сотня"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ url_for('static', filename='app-assets/images/svg/svg-logo-sprite.svg') }}#decl"></use></svg></span>
            </td>
        </tr>
        </tbody>
    </table>
{% endmacro %}

{% macro vip_task_card(task) %}
    <div class="card-block vip-task">
        <div class="list-group-item">
            {{ _task_card(task, "icon-magic-wand bg-teal") }} <!--todo in project-id + css -->
        </div>
    </div>
{% endmacro %}

{% macro just_task_card(task, i) %}
    <tr>
        <td>{{ i }}</td>
        <td>
            <div class="list-group-item">
                {{ _task_card(task, "icon-puzzle bg-yellow bg-darken-3") }} <!--todo in project-id + css -->
            </div>
        </td>
        <td>{{ task.coins_per_task|default(0) }}</td>
        <td>{{ task.points_per_task|default(0) }}</td>
    </tr>
{% endmacro %}

{% set state = gamification_stats_service.state_of_user(current_user) %}
<div class="app-content content container-fluid gamification-stats">
    <div class="content-wrapper">
        <div class="content-detached content-left">
            <div class="content-body">
                <div class="row">
                    <div class="col-md-6">
                        {% set important_task = task_types|selectattr("batch_info")|selectattr("batch_info.is_important", "equalto", True)|list|random %}

                        <!-- USERS TASKS LIST -->
                        {% if important_task %}
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><i class="ft-alert-circle"></i> Важливе завдання</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            </div>
                            <div class="card-body collapse in">
                                {{ vip_task_card(important_task) }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="card" id="all-tasks-list">
                            <div class="card-header" id="user-tasks-table-controls">
                                <h4 class="card-title">
                                    <span class="show-all table-controls">Всі завдання</span>
                                </h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        {# <li><a class="sord-opt sort-by-user" title="Твої завдання"><i class="icon-heart"></i></a></li> #}
                                        <li><a class="sord-opt sort-by-points" title="Найбільше балів"><i class="icon-game-controller"></i></a></li>
                                        <li><a class="sord-opt sort-by-money" title="Найдорожчі"><i class="icon-wallet"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-size-fullscreen"></i><i class="icon-size-actual"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <table class="table mb-0 borderless" id="user-tasks-table">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Завдання</th>
                                            <th>Бали</th>
                                            <th>Гривні</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in task_types|sort(reverse=True, attribute="has_tasks") %}
                                                {{ just_task_card(task, loop.index) }}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END OF USERS TASKS LIST -->
                    </div>

                    <div class="col-md-6">
                        <!-- USER Statistics -->
                        <div id="user-statistics">
                            <div class="card-header transparent-bg pl-0">
                                <h4 class="card-title"><i class="icon-graph"></i> Статистика</h4>
                            </div>

                            <div class="card bg-primary">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <i class="icon-rocket white font-large-2 float-xs-left"></i>
                                            </div>
                                            <div class="media-body white text-xs-right">
                                                <h3 class="font-large-1">Крутий чувак</h3>
                                                <span>Я на {{ state.level }}-му рівні</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card bg-success">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <i class="icon-check white font-large-2 float-xs-left"></i>
                                            </div>
                                            <div class="media-body white text-xs-right">
                                                {% set tasks_done = gamification_stats_service.tasks_done_by_user(current_user) %}
                                                <h3 class="font-large-1">{{ tasks_done }}</h3>
                                                <span>Виконано завдань</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card bg-warning">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <i class="icon-game-controller white font-large-2 float-xs-left"></i>
                                            </div>
                                            <div class="media-body white text-xs-right">
                                                <h3 class="font-large-1">{{ state.points }}</h3>
                                                <span>Зароблено балів</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card bg-danger">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <i class="icon-wallet white font-large-2 float-xs-left"></i>
                                            </div>
                                            <div class="media-body white text-xs-right">
                                                <h3 class="font-large-1">{{ state.potential_coins }} / {{ state.actual_coins }}</h3>
                                                <span>потенційних / активних гривень</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- END OF USER Statistics -->

                        <!-- USER achivments -->
                        <div id="user-achivments">
                            <div class="card-header transparent-bg pl-0">
                                <h4 class="card-title"><i class="icon-badge"></i> Мої досягнення</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            </div>
                        </div>
                        <!-- END OF USER achivments -->

                        <!-- USER help -->
                        <div class="card" id="user-help">
                            <div class="card-header">
                                <h4 class="card-title">Ти допоміг</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="close"><i class="icon-close"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block pb-0">
                                    <div class="card-deck-wrapper mb-2">
                                        <div class="card-deck">
                                            <figure class="card card-img-top border-grey border-lighten-2">
                                                <a href="#"><img class="gallery-thumbnail card-img-top" src="https://dummyimage.com/800x200/ccc/ffffff.png&amp;text=Армії/дитині" itemprop="thumbnail" alt="Image description"></a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END OF USER help -->

                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-detached sidebar-right">
            <div class="sidebar">
                <div id="fund-list">
                    <!-- Project Users -->
                    <div class="card">
                        <div class="card-header mb-0">
                            <h4 class="card-title">Допоможи їм</h4>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-body collapse in">
                                <div class="card-block  py-0 px-0">
                                    {% for foundation_row in cms_foundations|batch(2) %}
                                    <div class="card-deck-wrapper">
                                        <div class="card-deck">
                                            {% for foundation in foundation_row %}
                                            <figure class="card card-img-top border-grey border-lighten-2">
                                                <a href="{{ url_for('cms.fund_page', fund_id=foundation.id) }}"><img class="gallery-thumbnail card-img-top" src="{{ url_for('gamification.fund_logo', fund_id=foundation.id) }}" itemprop="thumbnail" alt="{{ foundation.name }}"></a>
                                                <div class="card-block px-0">
                                                    <a href="#" class="notification-text font-small-3 text-muted">Про фонд {{ foundation.name }}</a>
                                                </div>
                                            </figure>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="card-deck-wrapper mb-2">
                                        <div class="card-deck">
                                            <figure class="card card-img-top border-grey border-lighten-2">
                                                <a href="#"><img class="gallery-thumbnail card-img-top" src="https://dummyimage.com/600x200/ccc/ffffff.png&text=Важливе+повідомлення" itemprop="thumbnail" alt="Image description"></a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Project Users -->
                </div>
            </div>
        </div>
    </div>
</div>