<section id="description" class="card transparent-bg">
    <div class="intro-text">
        {# <h1><span>Три прості кроки для допомоги!</span></h1> #}
        <h3 class="mb-0 mt-2">Три прості кроки для допомоги!</h3>
    </div>
</section>

<section class="fsbanner" id="stepbanner-1-2-3">
    <div class="fsbanner-slide slide-1">
        <img src="/static/app-assets/images/pages/step-cat-1.png" class="step-cat" />
        <img src="/static/app-assets/images/pages/step-text-1.png" class="step-text" />
    </div>
    <div class="fsbanner-slide slide-2">
        <img src="/static/app-assets/images/pages/step-cat-2.png" class="step-cat" />
        <img src="/static/app-assets/images/pages/step-text-2.png" class="step-text" />
    </div>
    <div class="fsbanner-slide slide-3">
        <img src="/static/app-assets/images/pages/step-cat-3.png" class="step-cat" />
        <img src="/static/app-assets/images/pages/step-text-3.png" class="step-text" />
    </div>
</section>

<div class="text-xs-center mt-2 mb-1">
    <div class="btn-group">
        {% include '_social_signin.html'|app_template %}
    </div>
</div>

<section id="image-grid" class="card transparent-bg">
    <div class="card-body collapse in">
        <div class="card-block my-gallery" itemscope="" itemtype="http://schema.org/ImageGallery">
            <div class="row">
                <div class="grid-hover">
                    {% for promo_item in cms_promo_items %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <figure class="effect-sarah">
                            <img src="{{ url_for('cms.api_file_view', coll="images", pk=promo_item.image.thumbnail_id) }}" alt="img02">
                            <figcaption>
                                <h2>{{ promo_item.title }}</h2>
                                {# {{ promo_item.body|safe }} #}
                                <a href="{{ promo_item.link }}">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<div id="accordionWrap1" role="tablist" aria-multiselectable="true" class="container center-layout">
    <div class="card-header">
        <h4 class="card-title">Важливі деталі</h4>
    </div>

    <div class="card collapse-icon accordion-icon-rotate">
        {% for faq_item in cms_main_faq_items %}
        <div id="heading{{ loop.index }}" class="card-header">
            <a data-toggle="collapse" data-parent="#accordionWrap1" href="#accordion{{ loop.index }}" aria-expanded="false" aria-controls="accordion{{ loop.index }}" class="card-title lead">{{ faq_item.question }}</a>
        </div>
        <div id="accordion{{ loop.index }}" role="tabpanel" aria-labelledby="heading{{ loop.index }}" class="card-collapse collapse" aria-expanded="false">
            <div class="card-body">
                <div class="card-block">
                    {{ faq_item.answer|safe }}
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="card-header">
            <a href="{{ url_for('cms.faq_page') }}">Усі важливі деталі</a>
        </div>
    </div>
</div>