<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Description -->
            <section id="description" class="card transparent-card mb-0">
                <div class="card-body collapse in">
                    <div class="card-text">
                        <div id="site-stats" class="mb-2">
                            {% set total_users = gamification_stats_service.total_number_of_users() %}
                            {% set total_tasks = gamification_stats_service.total_number_of_open_tasks() %}
                            {% set total_money_donated = gamification_stats_service.total_money_donated() %}

                            <div class="stat-item stat-user"><i class="fa fa fa-users"></i> <span>{{ total_users }} {{ total_users|uk_plural("учасник,учасника,учасників") }}</span></div>
                            <div class="stat-item stat-tasks"><i class="fa fa-check-square-o"></i> <span>{{ total_tasks }} {{ total_tasks|uk_plural("завдання,завдання,завдань") }}</span></div>
                            <div class="stat-item stat-money"><i class="fa fa-thumbs-o-up"></i> <span>{{ total_money_donated }} грн.<br>передано до фондів</span></div>
                        </div>

                        <div class="intro-text mt-1">
                            <h1><span>Допомогати — просто!</span></h1>
                            <h3 class="mb-0">Ось три прості кроки:</h3>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>

<section class="fsbanner" id="stepbanner-1-2-3">
    <div class="fsbanner-slide slide-1">
          <span class="title">
               <span class="label amber lighten-1">Крок 1:</span>
               <span class="sub-label t tn amber lighten-1"><i class="fa fa-list-ol" aria-hidden="true"></i> Увійди та обери завдання</span>
               <span class="step-text">
                    <p>Після реєстрації/логіну оберіть одне із завдань на свій смак. Вони не складні.</p>
               </span>
          </span>

    </div>
    <div class="fsbanner-slide slide-2">
          <span class="title">
              <span class="label pink lighten-2">Крок 2:</span>
              <span class="sub-label t tn pink lighten-2"><i class="fa fa-check-square-o" aria-hidden="true"></i> Виконай його</span>
              <span class="step-text">
                    <p>Виконання завдання потребує від 5 секунд до 15 хвилин в залежності від типу та складності. За кожне ви отримуєте бали та віртуальні гроші.</p>
              </span>
          </span>

    </div>
    <div class="fsbanner-slide slide-3">
          <span class="title">
              <span class="label">Крок 3:</span>
              <span class="sub-label t tn"><i class="fa fa-handshake-o" aria-hidden="true"></i> Отримай кошти</span>
              <span class="step-text">
                    <p>та обери фонд, куди їх передати.</p>
              </span>
          </span>

    </div>
</section>

<div class="text-xs-center mt-2 mb-1">
    <div class="btn-group">
        {% include '_social_signin.html'|app_template %}
    </div>
</div>

<section id="image-grid" class="card transparent-card">
    <div class="card-body collapse in">
        <div class="card-block my-gallery" itemscope="" itemtype="http://schema.org/ImageGallery">
            <div class="row">
                <div class="grid-hover">
                    {% for promo_item in cms_promo_items %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <figure class="effect-sarah">
                            <img src="{{ url_for('cms.api_file_view', coll="images", pk=promo_item.image.thumbnail_id) }}" alt="img02">
                            <figcaption>
                                <h2>{{ promo_item.title }}</h2>
                                {{ promo_item.body|safe }}
                                <a href="{{ promo_item.link }}">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<div id="accordionWrap1" role="tablist" aria-multiselectable="true" class="container center-layout">
    <div class="card-header">
        <h4 class="card-title">F.A.Q.</h4>
    </div>

    <div class="card collapse-icon accordion-icon-rotate">
        {% for faq_item in cms_main_faq_items %}
        <div id="heading{{ loop.index }}" class="card-header">
            <a data-toggle="collapse" data-parent="#accordionWrap1" href="#accordion{{ loop.index }}" aria-expanded="false" aria-controls="accordion{{ loop.index }}" class="card-title lead">{{ faq_item.question }}</a>
        </div>
        <div id="accordion{{ loop.index }}" role="tabpanel" aria-labelledby="heading{{ loop.index }}" class="card-collapse collapse" aria-expanded="false">
            <div class="card-body">
                <div class="card-block">
                    {{ faq_item.answer|safe }}
                </div>
            </div>
        </div>
        {% endfor %}

        {#<div class="card-header">
            <a href="#">Повний F.A.Q.</a>
        </div>
        #}
    </div>
</div>