{% extends "base/base.html" %}

{% block body_content %}
    <div class="app-content content container-fluid center-layout mt-2">
        <div class="content-wrapper">

            <div class="content-header row">
                <div class="content-header-left col-md-6 col-xs-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-xs-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Домівка</a>
                                </li>
                                <li class="breadcrumb-item active">FAQ
                                </li>
                            </ol>
                        </div>
                    </div>

                    <h1>FAQ</h1>
                </div>
            </div>

            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card collapse-icon accordion-icon-rotate">
                            {% for faq_item in faq_items %}
                            <div id="heading{{ loop.index }}" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordionWrap1" href="#accordion{{ loop.index }}" aria-expanded="false" aria-controls="accordion{{ loop.index }}" class="card-title lead">{{ faq_item.question }}</a>
                            </div>
                            <div id="accordion{{ loop.index }}" role="tabpanel" aria-labelledby="heading{{ loop.index }}" class="card-collapse collapse" aria-expanded="false">
                                <div class="card-body">
                                    <div class="card-block">
                                        {{ faq_item.answer|safe }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_classes %}
    {% if user.is_anonymous %}
    horizontal-layout horizontal-menu steps-page not-logged-in
    {% else %}
    vertical-layout vertical-menu fixed-navbar logged-in
    {% endif %}
{% endblock %}