{% extends "base/base.html" %}

{% block body_content %}

{% if user.is_authenticated %}
    {% set state = gamification_stats_service.state_of_user(current_user) %}
{% endif %}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-detached content-left">
            <div class="content-body">
                <div class="row" id="user-profile">
                    <div class="col-xs-12">
                        <div class="card profile-with-cover">
                            <div class="card-img-top img-fluid bg-cover height-200 no-image"></div>

                            <div class="cover-shadow"></div>
                            <div class="media profil-cover-details">
                                <div class="media-left pl-2 pt-2">
                                    <a href="#" class="profile-image">
                                        <img src="{{ url_for('gamification.fund_logo', fund_id=fund.id) }}" class="img-border height-100" alt="Card image">
                                    </a>
                                </div>
                                <div class="media-body media-middle row">
                                    <div class="col-xs-6">
                                        <h3 class="card-title">{{ fund.name }}</h3>
                                    </div>
                                </div>
                            </div>
                            <nav class="navbar navbar-light navbar-profile">
                                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation"></button>
                                <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item">
                                            {% if user.is_authenticated %}
                                                {% if fund.donatable %}
                                                    <button data-toggle="modal" data-target="#fundDonateModal" type="button" class="btn btn-danger btn-sm"><i class="icon-basket-loaded"></i> Віддати котиків</button>
                                                {% endif %}
                                            {% else %}
                                                <button data-toggle="modal" data-target="#socialSignin" type="button" class="btn btn-danger btn-sm"><i class="icon-basket-loaded"></i> Зареєструватися та допомогти</button>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in" aria-expanded="true">
                                <div class="card-block">
                                    {{ fund.description|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="fund-projects">
                    <div class="col-xs-12">
                        <section class="card">
                            <div class="card-body collapse in">
                                <div class="card-block my-gallery" itemscope="" itemtype="http://schema.org/ImageGallery">
                                    <div class="row">
                                        <div class="grid-hover">
                                            {% for promo_item in cms_promo_items %}
                                            <div class="col-sm-4 col-xs-12">
                                                <figure class="effect-sarah">
                                                    <img src="{{ url_for('cms.api_file_view', coll="images", pk=promo_item.image.thumbnail_id) }}" alt="img02">
                                                    <figcaption>
                                                        <h2>{{ promo_item.title }}</h2>
                                                        {{ promo_item.body|safe }}
                                                        <a href="{{ promo_item.link }}">View more</a>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-detached sidebar-right">
            <div class="sidebar">
                <div id="fund-list">
                    <!-- Project Users -->
                    <div class="card">
                        <div class="card-header mb-0">
                            <h4 class="card-title">Інші фонди</h4>
                        </div>
                        {% include "base/_funds_bar.html" %}
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div class="modal fade text-xs-left" id="fundDonateModal" tabindex="-1" role="dialog" aria-labelledby="fundDonate" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form class="donate-form" action="/gamification/donations" method="post" accept-charset="UTF-8" novalidate>
                                <div class="modal-header bg-primary white">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="fundDonate">Перерахувати до фонду "{{ fund.name }}"</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="p-2 text-xs-center media-left media-top">
                                                    <img src="{{ url_for('gamification.fund_logo', fund_id=fund.id) }}" class="img-border height-100" alt="Card image">
                                                </div>
                                                <div class="p-2 media-body">
                                                    <input type="hidden" name="fund_id" value="{{ fund.id }}">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <input type="text" name="amount" min="1" max="{{ state.actual_coins }}"
                                                                   required data-validation-required-message="Потрібно ввести суму"
                                                                   data-validation-min-message="Мінімальна сумма 1 грн."
                                                                   data-validation-max-message="Ви можете пожертвувати максимум {{ state.actual_coins }} грн."
                                                                   data-validation-containsnumber-regex="(\d)+"
                                                                   data-validation-containsnumber-message="Потрібно ввести суму"
                                                                   class="form-control" placeholder="500 грн." aria-describedby="button-addon2" >
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="fund_name" value="{{ fund.name }}">
                                                    <h5>Доступно на рахунку: {{ state.actual_coins }} грн.</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary border-primary" type="submit" name="donate" value="Добре">Добре <i class="fa fa-thumbs-o-up position-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_classes %}
    {% if user.is_anonymous %}
    horizontal-layout horizontal-menu steps-page not-logged-in fund-page
    {% else %}
    vertical-layout vertical-menu fixed-navbar logged-in fund-page
    {% endif %}
{% endblock %}