{% extends "base/base.html" %}

{% block body_content %}
    {% if not init %}
        <div id="warm-welcome" class="cover inner">
            Site is still uninitialized. Please run <code>./manage.py
            init ...</code>
        </div>
    {% elif user.is_anonymous %}
        {% if config.SITE_IS_CLOSED %}
            {% include '_holding_page.html'|app_template %}
        {% else %}
            {% include '_not_logged_home.html'|app_template %}
        {% endif %}
    {% else %}
        {% include '_logged_in_home.html'|app_template %}
    {% endif %}
{% endblock %}

{% block body_classes %}
{% if user.is_anonymous %}
horizontal-layout horizontal-menu steps-page not-logged-in
{% else %}
vertical-layout vertical-menu fixed-navbar logged-in
{% endif %}
{% endblock %}