{% extends "base/base.html" %}

{% block body_content %}
    <div class="app-content container center-layout mt-2">
        <div class="content-wrapper">

            <div class="content-header row">
                <div class="content-header-left col-md-6 col-xs-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-xs-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Домівка</a>
                                </li>
                                <li class="breadcrumb-item active">{{ page.title }}
                                </li>
                            </ol>
                        </div>
                    </div>

                    <h1>{{ page.title }}</h1>
                </div>
            </div>

            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" id="all-tasks-list">
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    {{ page.body|safe }}

                                    {% if page.task_type %}
                                        {% if user.is_authenticated %}
                                            <a href="{{ url_for("task_home", type_name=page.task_type) }}" class="btn btn-danger btn-sm"><i class="icon-trophy"></i> Долучитися до виконання</a>
                                        {% else %}
                                            <button data-toggle="modal" data-target="#socialSignin" type="button" class="btn btn-danger btn-sm"><i class="icon-trophy"></i> Долучитися до виконання</button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_classes %}
    {% if user.is_anonymous %}
    horizontal-layout horizontal-menu steps-page not-logged-in
    {% else %}
    vertical-layout vertical-menu fixed-navbar logged-in
    {% endif %}
{% endblock %}