{% extends "base/index.html" %}
{% block task %}
    <div id="current_task" data-type="{{ task_type.type_name }}">
        {% include task_type.type_name + "/" + task_type.template %}
        <div class="buttons-container">
            <a class="btn btn-default" id="save-button" href="#">
                Надіслати форму
                <!--small>(alt+enter)</small-->
            </a>
            <a class="btn" id="skip-button" href="#">
                Пропустити завдання
                <!--small>(esc)</small-->
            </a>
        </div>
    </div>
{% endblock task %}

{% block extra_js %}
    {% assets "plugin_js_" + task_type.type_name %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block extra_css %}
    {% assets "plugin_css_" + task_type.type_name %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}


{% block body_classes %}
vertical-layout vertical-menu 2-columns fixed-navbar logged-in task-page
{% endblock %}
