@import "../../assets/scss/variables/variables";
@import "../../assets/scss/colors/palette-variables";
@import "_mixins";

/*
.login-page {
  background: url(../../app-assets/images/backgrounds/login.jpg) no-repeat center center !important;
  background-size: cover;
}

.register-page {
  background: url(../../app-assets/images/backgrounds/register.jpg) no-repeat center center !important;
  background-size: cover;
}

.recover-password-page {
  background: url(../../app-assets/images/backgrounds/recover-password.jpg) no-repeat center center !important;
  background-size: cover;
}
*/

.offline-page {
  background: url(../../app-assets/images/backgrounds/hiload.jpg) no-repeat center center !important;
  background-size: cover;
}

.error-page {
  background: #404E67;
  color: white;

  img {
    max-width: 100%;
  }
}

.steps-page {
  #description {
    .card-text {
      display: flex;
      flex-direction: column;

      @media (min-width: 560px) {
        justify-content: space-between;
        flex-direction: row;
        align-content: flex-start;
        align-items: center;
      }
    }

    h1 {
      text-transform: uppercase;
      color: white;
      @include rft(18, 26);

      span {
        display: inline-block;
        background: #7f7f7f;
      }
    }

    h3 {
      text-transform: uppercase;
      color: $light-blue;
      font-weight: 700;
      text-align: left;
      @include rft(26, 45);

      @media (min-width: 560px) {
        text-align: center;
      }
    }
  }

  #site-stats {
    padding-top: 5px;
    margin-left: 13px;

    @media (max-width: 559px) {
      margin-bottom: 20px;
    }

    .stat-item {
      display: inline-block;
      margin-right: 20px;
      font-size: 20px;

      i,
      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .fa {
      color: white;
      height: 32px;
      width: 32px;
      border-radius: 100%;
      position: relative;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .stat-user {
      color: #4e71a8;

      .fa {
        background: #4e71a8;

        &:before {
          font-size: 16px;
        }
      }
    }

    .stat-tasks {
      color: #1cb7eb;
      margin-top: 5px;
      margin-bottom: 5px;

      .fa {
        background: #1cb7eb;

        &:before {
          font-size: 16px;
        }
      }
    }

    .stat-money {
      color: #e13f4c;
      font-size: 16px;
      line-height: 18px;

      .fa {
        background: #e13f4c;
      }
    }
  }
}

.static-page {
  .content-body {
    .card-block {
      padding: 2.5rem;

      @media (min-width: 992px) {
        padding: 4rem;
      }
    }
  }
}

.fund-page {
  .content-body {
    .heading-elements-toggle {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }
}