@import "../../assets/scss/variables/variables";
@import "../../assets/scss/colors/palette-variables";
@import "_mixins";

.dropdown-notification {
  .scrollable-container {
    .list-group-item .media-left {
      &:after {
        font-family: Simple-Line-Icons!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-size: 2rem;
        margin-right: 0.5rem;;
      }
    }
  }

  .badge {
    color: #448AFF;

    .media-left:after {
      content: '\e028';
    }
  }

  .coins {
    color: #00897B;

    .media-left:after {
      content: '\e02a';
    }
  }

  .level {
    color: #E53935;

    .media-left:after {
      content: '\e05c';
    }
  }

  .points {
    color: #F9A825;

    .media-left:after {
      content: '\e01b';
    }
  }
}

#user-statistics {
  h5 {
    min-height: 38px;
  }

  p {
    margin-bottom: 0;
  }
}

#fund-list {
  figure {
    .card-block {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      a {
        display: block;
        text-align: center;
      }
    }
  }
}

.block-sociallinks-block {
  margin-right: 0.5rem;
  margin-top: 12px; //todo

  ul {
    li {
      list-style: none;
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .fa {
    color: white;
    height: 32px;
    width: 32px;
    //.font-size(20);
    border-radius: 100%;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .fa-facebook,
  .fa-vk {
    color: #4e71a8;
    background: white;

    &.inv {
      color: white;
      background: #4e71a8;
    }
  }

  .fa-twitter {
    background: #1cb7eb;
  }

  .fa-youtube-play {
    background: #e13f4c;
  }

  .fa-telegram {
    font-size: 32px;
    color: #1cb7eb;
  }

  .fa-rss {
    background: #e13f4c;
  }
}

#user-achievements {
  .user-badges-list {
    img {
      display: inline-block;
      float: left;
      margin-right: 1rem;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: 460px) and (max-width: 767px),
  (min-width: 1580px){
    .row {
      display: flex;
      margin-bottom: 1.875rem;
    }

    .badge {
      width: 50%;
      padding-right: 15px;
      padding-left: 15px;

      .card {
        margin-bottom: 0;
        height: 100%;
      }
    }
  }
}

#top-fund-users {
  background: none;

  .card-header {
    background: none;
  }

  .list-group-item {
    background: none;
    border: none;

    color: #dcdcdc; //todo
  }
}

#all-tasks-list {
  h4 a {
    text-decoration: underline;
    color: #E53935;

    &:hover {
      color: #11B0D0 !important;
    }
  }
}

#user-tasks-table_wrapper {
  .dataTables_length,
  .dataTables_filter {
    display: none;
  }

  .table .table {
    background: none;
  }

  #user-tasks-table thead,
  #user-tasks-table > tbody > tr > td:nth-child(1),
  #user-tasks-table > tbody > tr > td:nth-child(3),
  #user-tasks-table > tbody > tr > td:nth-child(4),
  #user-tasks-table > tbody > tr > td:nth-child(5){
    display: none;
  }

  #user-tasks-table > tbody > tr > td {
    padding-left: 0 !important;
  }
}

#stepbanner-1-2-3 {
  position: relative;
  color: white;
  font-size: 20px;

  @media (min-width: 992px) {
    overflow: hidden;
    height: 500px;
  }

  &,
  & > div > span {
    display: none;
  }

  .fsbanner-slide {
    cursor: pointer;
    position: relative;

    img {
      height: 80%;
      position: absolute;
      width: auto;
      top: 10%;
    }

    &.slide-1 {
      background: url(../../app-assets/images/pages/bkg1.png) repeat;
    }

    &.slide-2 {
      background: url(../../app-assets/images/pages/bkg2.png) repeat;
    }

    &.slide-3 {
      background: url(../../app-assets/images/pages/bkg3.png) repeat;
    }

    @media (max-width: 991px) {
      width: 100% !important;
      height: 500px !important;
      left: 0 !important;

      img {
        max-width: 50%;
        max-height: 80%;
        height: auto;
      }

      img.step-cat {
        left: 5%;
      }

      img.step-text {
        margin-left: 50%;
      }
    }

    @media (min-width: 992px) {
      position: absolute;
      top: 0;
      left: 0;

      img.step-text {
        margin-left: 400px;
      }

      img {
        left: 11%;
      }
    }

    @media (min-width: 1600px) {
      position: absolute;
      top: 0;
      left: 0;

      &.slide-1 {
        img {
          left: 15%;
        }
      }

      &.slide-2 {
        img {
          left: 15%;
        }
      }

      &.slide-3 {
        img {
          left: 15%;
        }
      }
    }

    .title {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 10px;

      .label,
      .sub-label {
        @include rft(18, 26);
      }

      &.minimized {
        @media (min-width: 992px) {
          transform: rotate(-90deg);
          transform-origin: left top 0;
          bottom: -13px;
          left: 7px;
        }
      }

      .step-text {
        display: none;
      }
    }

    &.active {
      .step-text {
        display: block;
      }
    }
  }
}

#fund-list {
  .card-deck-wrapper {
    margin-right: 0;
    margin-left: 0;
  }

  .card-deck {
    display: flex;
    flex-direction: column;

    @media (min-width: 544px) {
      flex-direction: row;
    }

    img {
      padding: 10px;
    }

    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: center;
      text-align: center;
      width: 100%;
      min-width: 100%;
      max-width: 100%;

      @media (min-width: 544px) {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
      }

      .donation-cta {
        margin-top: 10px;
      }
    }
  }
}

#accordionWrap1 {
  @media (max-width: 1199px) {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}