// Core variables and mixins overrides
@import "../core/variables/variables";
@import "../core/variables/app-variables";

.profile-card-with-stats {
    .btn-float {
        padding: 8px 14px 4px 14px;
    }
}

.profile-with-cover {
    .bg-cover {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cover-shadow {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
    }
}

.profile-card-with-cover {
    .card-profile-image {
        position: absolute;
        top: 130px;
        width: 100%;
        text-align: center;

        img.img-border {
            border: 5px solid #fff;
            background: white;
        }
    }

    .profile-card-with-cover-content {
        padding-top: 4rem;
    }
}

#user-profile {
    .profile-with-cover {
        .profil-cover-details {
            position: absolute;
            margin-top: -90px;

            .profile-image {
                img.img-border {
                    border: 5px solid #fff;
                    background: white;
                }
            }

            .media-left {
                position: relative;
                z-index: 9;
            }

            .card-title {
                color: $white;
                text-shadow: 1px 1px 4px $gray-dark;
                font-size: 2rem;
                margin-top: -10px;
            }
        }
    }
    .navbar-profile {
        border-radius: 0;
    }

    .nav.navbar-nav {
        margin-left: 135px;

        button {
            margin-top: 5px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
    }

    .nav-stats {
        p + p {
            margin-top: 5px;
        }
    }
}

.fund-page {
    .fund-desc {
        padding: 3rem !important;
    }
}


