{% include '_social_signin.html'|app_template %}
<nav class="header-navbar navbar navbar-with-menu navbar-static-top navbar-dark bg-gradient-x-grey-blue navbar-border navbar-brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-header hidden-md-up">
            <ul class="nav navbar-nav">
                <li class="nav-item hidden-md-up">
                    <a href="/" class="navbar-brand">
                        <h2 class="brand-text">
                            <span class="svg-image logo"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ url_for('static', filename='app-assets/images/svg/svg-logo-sprite.svg') }}#logo-kotiki-inline"></use></svg></span>
                        </h2>
                    </a>
                </li>
                <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-list font-large-1"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container container center-layout">
            <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="navbar-brand">
                            <h2 class="brand-text">
                                <span class="svg-image logo"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ url_for('static', filename='app-assets/images/svg/svg-logo-sprite.svg') }}#logo-kotiki-inline"></use></svg></span>
                            </h2>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item hidden-sm-down white mt-1 site-slogan">Суспільна корисна платформа. <br>Обміняй свій час на допомогу</li>
                </ul>
                <ul  class="nav navbar-nav float-xs-right">
                    <li class="nav-item float-xs-right btn-group nav-item--nav-login-button">
                        <button type="button" class="btn btn-info btn-info-light-blue nav-login-button" data-toggle="modal" data-target="#socialSignin"><i class="fa fa-user-o"></i> Увійдіть</button>
                    </li>
                    <li class="nav-item float-xs-right nav-item--sociallinks">
                        <section class="block block-sociallinks-block clearfix">
                            <ul class="pl-0">
                                <li><a href="https://www.facebook.com/bihus.info/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCkUe2e1YuRtBRRaP2XTupwg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow menu-border">
    <div data-menu="menu-container" class="navbar-container main-menu-content container center-layout">
        <ul class="nav navbar-nav hidden-md-up ml-1 mb-1">
            <li class="nav-item btn-group nav-item--nav-login-button">
                <button type="button" class="btn btn-info btn-info-light-blue nav-login-button" data-toggle="modal" data-target="#socialSignin"><i class="fa fa-user-o"></i> Увійдіть</button>
            </li>
            <li class="nav-item nav-item--sociallinks">
                <section class="block block-sociallinks-block clearfix">
                    <ul class="pl-0">
                        <li><a href="https://www.facebook.com/bihus.info/" target="_blank"><i class="inv fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCkUe2e1YuRtBRRaP2XTupwg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </section>
            </li>
        </ul>
        <div id="site-stats">
            {% set total_users = gamification_stats_service.total_number_of_users() %}
            {% if total_users < 1002 %}
                {% set total_users = 1002 %}
            {% endif %}
            {% set total_tasks = gamification_stats_service.total_number_of_open_tasks() %}
            {% set total_money_donated = gamification_stats_service.total_money_donated() %}

            <div class="stat-item stat-user"><i class="fa fa fa-users"></i> <span>{{ total_users }} {{ total_users|uk_plural("учасник,учасника,учасників") }}</span></div>
            <div class="stat-item stat-tasks"><i class="fa fa-check-square-o"></i> <span>{{ total_tasks }} {{ total_tasks|uk_plural("завдання,завдання,завдань") }}</span></div>
            <div class="stat-item stat-money"><i class="fa fa-thumbs-o-up"></i> <span>{{ total_money_donated }} {{ total_money_donated|uk_plural("котик,котика,котиків") }} передано до фондів</span></div>
        </div>
    </div>
</div>