<nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="nav-item mobile-menu hidden-md-up float-xs-left"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-list font-large-1"></i></a></li>
                <li class="nav-item">
                    <a href="/" class="navbar-brand">
                        <h2 class="brand-text">
                            <span class="svg-image logo"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ url_for('static', filename='app-assets/images/svg/svg-logo-sprite.svg') }}#kotiki-inline"></use></svg></span>
                            <span class="svg-image logo logo-small"><svg preserveAspectRatio="xMidYMid" focusable="false"><use xlink:href="{{ url_for('static', filename='app-assets/images/svg/svg-logo-sprite.svg') }}#kotiki-small"></use></svg></span>
                        </h2>
                    </a>
                </li>
                <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content container-fluid">
            <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                <ul class="nav navbar-nav">
                    <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-list"></i></a></li>
                    <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="icon-size-fullscreen"></i></a></li>
                    {% if task_type and task_type.type_name in cms_task_pages %}
                    <li class="nav-item hidden-sm-down"><a href="{{ url_for('cms.static_page', slug=cms_task_pages[task_type.type_name].slug) }}" class="nav-link" target="_blank"><i class="icon-info"></i></a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav float-xs-right">
                    <li class="nav-block-donats nav-item col">
                        {% set state = gamification_stats_service.state_of_user(current_user) %}
                        {% set total_money_donated = gamification_stats_service.total_money_donated_by_user(current_user) %}
                        <i class="icon-heart"></i> <span>Пожертви: {{ total_money_donated }} {{ total_money_donated|int|uk_plural("котик,котика,котиків") }}</span> <br>
                        <i class="icon-rocket"></i> <span>я на <span class="current-level">{{ state.level }}</span>-му рівні </span>
                    </li>
                    <li class="nav-block-money nav-item col">
                        <i class="icon-wallet"></i> <span><span class="potential-coins">{{ state.potential_coins }}</span> / <span class="actual-coins">{{ state.actual_coins }}</span></span><br>
                        <i class="icon-info hidden-xs-up"></i> <span>потенційних / активних {{ state.actual_coins|int|uk_plural("котик,котика,котиків") }}</span>
                    </li>
                    <li class="dropdown dropdown-notification nav-item">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-label">
                            <i class="icon-bell"></i>
                            <span class="tag tag-pill tag-default tag-danger tag-default tag-up hidden-xs-up"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <li class="dropdown-menu-header">
                                <h6 class="dropdown-header m-0">
                                    <span class="grey darken-2">Виконайте завдання!</span>
                                </h6>
                            </li>
                            <li class="list-group scrollable-container"></li>
                            <li class="dropdown-menu-footer"><a id="clear-events-list" href="javascript:void(0)" class="dropdown-item text-muted text-xs-center">Очистити список</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user nav-item">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                            <span class="avatar avatar-online">
                                <img src="{{ url_for('static', filename='app-assets/images/portrait/small/avatar-s-1.png') }}" alt="avatar"><i></i></span>
                            <span class="user-name">{{ current_user.username }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <form action="{{ url_for('logout') }}" method="post">
                                <button type="submit" class="btn btn-link dropdown-item w-100"><i class="icon-power"></i> Вихід</a></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="active nav-item"><a href="#"><i class="icon-home"></i><span data-i18n="" class="menu-title">Головна</span></a></li>
            <li class="nav-item"><a href="#"><i class="icon-user"></i><span data-i18n="" class="menu-title">Профіль</span></a>
                <ul class="menu-content">
                    <li>
                        <form action="{{ url_for('logout') }}" method="post">
                            <button type="submit" class="btn btn-link menu-item"><i class="icon-power"></i> Вихід</a></button>
                        </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item"><a href="#"><i class="icon-check"></i><span data-i18n="" class="menu-title">Список завдань</span></a>
                <ul class="menu-content">
                    {% for task in cms_task_types|sort(reverse=True, attribute="has_tasks") %}
                        <li>
                            <a href="{{ url_for("task_home", type_name=task.type) }}" class="menu-item" title="{{ task.name }}">
                                {{ task.description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item" id="sidebar-fund-list"><a href="#"><i class="icon-heart"></i><span data-i18n="" class="menu-title">Список фондів</span></a>
                <ul class="menu-content">
                    {% for foundation in cms_foundations %}
                    <li>
                        <a href="{{ url_for('cms.fund_page', fund_id=foundation.id) }}" class="menu-item" title="{{ foundation.name }}">
                            {{ foundation.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% for menu in cms_registered_menu_items %}
            <li class="nav-item">
                <a href="{% if menu.page_link %}{{ url_for('cms.static_page', slug=menu.page_link.slug) }}{% else %}{{ menu.link }}{% endif %}">{% if menu.icon_class %}<i class="{{ menu.icon_class }}"></i>{% endif %}<span>{{ menu.title }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
