/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px 20px;
}

#skip-button ,
#save-button {
    float: right;
    margin: 0 15px;
    background-color: #555;
    color: white;
}

#save-button:hover, #skip-button:hover {
    color: #AAA;
}

/* Styles for dialog window */
.small-dialog {
    background: white;
    padding: 20px;
    text-align: left;
    max-width: 900px;
    margin: 30px auto;
    position: relative;
    color: #333;
}

.dialog-content {
    overflow: scroll;
    max-height: 700px;
}

.dialog-content h3 {
    margin-top: 0;
}

.dialog-content h5 {
    margin-top: 20px;
}

dl {
    margin-bottom: 7px;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    outline: 0 none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #333;
    font-style: normal;
    font-size: 28px;
    font-family: Arial,Baskerville,monospace;
}

#current_task {
    width: 100%;
}


#current_task th {
    white-space: normal;
}

.buttons-container {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}